Package: libocfamodule
Version: 2.3.0
Architecture: amd64
Depends: libocfaevidence,libocfafs,libocfastore,libocfamessage
Maintainer: Klpd <ocfa@dnpa.nl>
Description: The open computer forensics architecture module library. 
